* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  background-color: skyblue;
}

.myName{
  font-family: Georgia, serif;
}

.link {
  float: right;
}

.myName {
  color: white;
  text-decoration: none;
  width: 200px;
}

.link {
  color: white;
  text-decoration: none;
}

img {
  border: ridge;
  border-color: cornflowerblue;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/* .portfolioBackground {
  background-color: black;
} */

article {
  background-color: lightskyblue;
  border-radius: 5%;
  
}